---
import SectionHeading from './SectionHeading.astro'
---

<section class="pb-12">
    <SectionHeading title="Try CaroTTS" />
    <div class="w-full mt-6">
        <iframe
            src="https://warholt-carotts-de.hf.space"
            frameborder="0"
            width="100%"
            height="600"
            class="border-2 border-primaryLight dark:border-primaryDark rounded-lg shadow-lg"
        ></iframe>
    </div>
</section>
